<style>
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<div class="feature">
    <div class="feature__icon">
        <slot name="icon">
            <i class="material-icons large">priority_high</i>
        </slot>
    </div>
    <div class="feature__text">
        <slot name="header">
            <h5>Feature header</h5>
        </slot>
        <slot name="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consequuntur deleniti alias ipsum dolor vitae ipsam fuga nobis accusantium voluptate.</p>
        </slot>
    </div>
</div>