<script context="module">
    export const iconPositionLeft = 1;
    export const iconPositionRight = 2;
</script>


<script>
    export let iconPosition = 2;
</script>


<div class="row">
    <div class="col s12 l6" class:push-l6="{iconPosition === 2}">
        <div class="center">
            <slot name="icon">
                <i class="material-icons large">star</i>
            </slot>
        </div>

    </div>
    <div class="class col s12 l6" class:pull-l6="{iconPosition === 2}">
        <slot name="header"></slot>
        <slot name="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sapiente asperiores culpa quis aut iure perspiciatis possimus sint dolores et!</p>
        </slot>
        <slot name="action"></slot>
    </div>
</div>