<script>
    import { link } from 'svelte-routing';

    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';
    import Feature from './components/Feature.svelte';
    import GuideStep from './components/GuideStep.svelte';
    import { iconPositionLeft, iconPositionRight } from './components/GuideStep.svelte';

    import { routes } from '../Routes.svelte';
    import { APIURL } from '../../settings.js';

    const desktopDeviceWidth = 992;

    function setSectionLogoWrapperHeight() {
        if (window.innerWidth > desktopDeviceWidth) {
            let sectionLogoWrapper = document.getElementById('sectionLogoWrapper');
            let sectionDescriptionWrapper = document.getElementById('sectionDescriptionWrapper');
            sectionLogoWrapper.style.height = sectionDescriptionWrapper.offsetHeight + 'px';
        }
    }

    function setFAQIconHeight() {
        if (window.innerWidth > desktopDeviceWidth) {
            let faqQuestion = document.getElementById('faqQuestions');
            let faqIcon = document.getElementById('faqIcon');
            faqIcon.style.height = faqQuestion.offsetHeight + 'px';
        }
    }

    function resizeWindowElements() {
        setSectionLogoWrapperHeight();
        setFAQIconHeight();
    }

    // on document ready
    document.addEventListener('DOMContentLoaded', () => {
        resizeWindowElements();

        // Initializing FAQ collapsible
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });

    window.addEventListener('resize', () => {
        resizeWindowElements();
    });
</script>

<style>
    .section-logo {
        font-size: 15rem;
    }

    .section.full-screen {
        min-height: 100vh;
    }

    .indigo-gradient {
        background: rgb(48,63,159);
        background: linear-gradient(
            180deg,
            rgba(48,63,159,1) 0%,
            rgba(57,73,171,1) 60%,
            rgba(63,81,181,1) 100%
        );
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__header {
        margin-bottom: 50px;
    }

    .btn-action {
        margin-top: 10px;
    }

    .step-img {
        max-width: 35%;
        margin: 20px auto;
    }

    .feature-img {
        max-height: 200px;
    }

    .faq-img {
        max-height: 125%;
    }
</style>


<Header/>
<main>
    <section class="section full-screen indigo-gradient valign-wrapper">
        <div class="container">
            <div class="row white-text">
                <div class="col s12 l6 push-l6 center-wrapper" id="sectionLogoWrapper">
                    <i class="material-icons section-logo">school</i>
                </div>
                <div class="col s12 l6 pull-l6" id="sectionDescriptionWrapper">
                    <h3>Вітаємо у "Системі обліку абітурієнтів"</h3>
                    <p>
                        "Система обліку абітурієнтів" (скорочено "СОА") полегшує роботу приймальних комісій і деканатів Вищих навчальних закладів України у період вступної кампанії. Завдаки використанню "СОА" відповідальні за прийом абітурієнтів особи можуть зосередитись на якості обробки інформації, а не на самому процесі.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section grey lighten-4">
        <div class="container">
            <div class="center">
                <h4 class="section__header">Чому "Система обліку абітурієнтів"?</h4>
                <div class="row">
                    <div class="col s12 l4">
                        <Feature>
                            <img src="{APIURL + '/static/general/img/feature_1.png'}" alt="Fature 1" slot="icon" class="responsive-img feature-img">
                            <h5 slot="header">Все в одному</h5>
                            <p slot="description">
                                Увесь обсяг робіт, що проводиться протягом вступної кампанії до ВИШу може бути виконана у "Системи обліку абітурієнтів". Заповнення "картки абітурієнта", внесення даних, щодо стану вступної кампанії і автоматична ґенерація звітів.
                            </p>
                        </Feature>
                    </div>
                    <div class="col s12 l4">
                        <Feature>
                            <img src="{APIURL + '/static/general/img/feature_2.png'}" alt="Feature 2" slot="icon" class="responsive-img feature-img">
                            <h5 slot="header">Розумний підхід</h5>
                            <p slot="description">
                                "Система обліку абітурієнтів" проводить усі необхідні розрахунки автоматично. Працівники позбавлені необхідності самостійно визначати вступний бал абітурієнта, власноруч заповнювати бланк контракту і займатись звітами.
                            </p>
                        </Feature>
                    </div>
                    <div class="col s12 l4">
                        <Feature>
                            <img src="{APIURL + '/static/general/img/feature_3.png'}" alt="Feature 3" slot="icon" class="responsive-img feature-img">
                            <h5 slot="header">Сучасний дизайн</h5>
                            <p slot="description">
                                Програмне забезпечення відповідає усім сучасним стандартам Material Design, слідує усім вказанням до проектування UI/UX-інтерфейсів. Структура сервісу сама направляє користувача на необхідні дії
                            </p>
                        </Feature>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="center">
                <h4 class="section__header">Початок роботи з системою</h4>
            </div>
            <GuideStep iconPosition={iconPositionRight}>
                <img src="{APIURL + '/static/general/img/step_1.png'}" alt="Step 1" slot="icon" class="responsive-img step-img">
                <h4 slot="header">Крок 1</h4>
                <p slot="description">
                    Авторизуйтесь у системі, використовучи Вашу адресу електронної пошти та пароль. Якщо Ви з тих чи інших причин не маєте власного облікового запису - зверніться до адміністратора системи за допомогою.
                </p>
                <a href={routes.login.path} use:link slot="action" class="btn btn-action green darken-2 white-text waves-effect waves-light">
                    Увійти до системи
                    <i class="material-icons right">security</i>
                </a>
            </GuideStep>
            <GuideStep iconPosition={iconPositionLeft}>
                <img src="{APIURL + '/static/general/img/step_2.png'}" alt="Step 1" slot="icon" class="responsive-img step-img">
                <h4 slot="header">Крок 2</h4>
                <p slot="description">
                    Перейдіть на сторінку "Абітурієнти" для створення нового облікового запису. Заповніть інформацію, що необхідня для створення "картки абітурієнта" та натисніть кнопку "Створити".
                </p>
                <a href={routes.abiturients.path} use:link slot="action"
                    class="btn btn-action orange darken-2 white-text waves-effect waves-light">
                    Додати нового абітурієнта
                    <i class="material-icons left">
                        folder_shared
                    </i>
                </a>
            </GuideStep>
            <GuideStep iconPosition={iconPositionRight}>
                <img src="{APIURL + '/static/general/img/step_3.png'}" alt="Step 1" slot="icon" class="responsive-img step-img">
                <h4 slot="header">Крок 3</h4>
                <p slot="description">
                    У списку абітурієнтів знайдіть створений на кроці 2 обліковий запис. Для швидкого пошуку скористайтесь полем для введеня зліва. Для перегляду детальної інформацію натисніть на посилання в останній колонці таблиці.
                </p>
                <a href={routes.abiturients.path} slot="action" use:link
                    class="btn btn-action red darken-2 white-text waves-effect waves-light">
                    Перейти то списку
                    <i class="material-icons right">
                        format_list_numbered
                    </i>
                </a>
            </GuideStep>
        </div>
    </section>
    <section class="section grey lighten-4">
        <div class="container">
            <div class="center">
                <h4 class="section__header">
                    Відповіді на часті запитання
                </h4>
            </div>
            <div class="row">
                <div class="col s12 l6" id="faqQuestions">
                    <ul class="collapsible">
                        <li class="active">
                            <div class="collapsible-header"><i class="material-icons">apps</i>Де можна переглянути список заявок?</div>
                            <div class="collapsible-body white"><span>Переглянути список заявок, що відносяться до тієї чи іншохї спеціальності можна на сторінці детального перегляду спеціальності. Для цього необхідно перейти за одним з посилань, що знаходяться в останній колонці <a href="{routes.specialities.path}" class="text-blue text-darken-2 link">списку спеціальностей</a>.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">place</i>
                                Де отримати готовий для підписання контракт на вступ?
                            </div>
                            <div class="collapsible-body white">
                                <span>
                                    Сґенерувати контракт для абітурієнта можна під час перегляду детальної інформації про нього. Для цього перейдіть на сторінку <a href="{routes.abiturients.path}" class="blue-text text-darken-2 link">перегляду абітурієнтів</a> та перейдіть за посиланням одного із них в останній колонці списку. Пролистайте вниз до графи "Підготовка документів".
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Де можна переглянути звіти з роботи</div>
                            <div class="collapsible-body white"><span>Автоматично сґенеровані звіті з роботи можна переглянути на <a href="{routes.reports.path}" class="blue-text text-darken-2 link">відповідній сторінці</a>. Там же, за допомогою елементів керування, можна змінювати період підбиття підсумків для ґенерації звітів.</span></div>
                        </li>
                    </ul>
                </div>
                <div class="col l6 hide-on-med-and-down center-wrapper" id="faqIcon">
                    <img src="{APIURL + '/static/general/img/faq.png'}" alt="FAQ" class="responsive-img faq-img">
                </div>
            </div>
        </div>
    </section>
</main>
<Footer/>