<script>
    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';

    import { user } from '../../stores.js';
    import { getUserData, sendRequest,
        raiseSuccessToast, raiseFailureToast } from '../../utils.js';
    import { APIURL, onLoginRedirect } from '../../settings.js';

    import { routes } from '../Routes.svelte';

    // If user already logged in - relocates him to home page
    if (!user.isEmpty()) {
        window.location.replace(routes.home.path);
    }

    $: email = "";
    $: password = "";

    // Getting query params from URL
    const URLParams = new URLSearchParams(window.location.search);
    let message = URLParams.get('message');
    let nextRedirect = URLParams.get('next') ? URLParams.get('next') : onLoginRedirect;

    // Login handler. Sends request to API login page
    // If login was successfull - collects logged user data
    // And writes it it $user svelte store and redirects him
    async function login() {
        const response = await sendRequest('/auth/login/', {
            method: 'POST',
            body: JSON.stringify({
                'username': email,
                'password': password
            })
        });

        const responseData = await response.json();

        if (response.ok) {
            raiseSuccessToast('Ви успішно увійшли до системи');

            $user = await getUserData(responseData.token);
            $user.token = responseData.token;

            window.location.replace(nextRedirect);
        } else {
            raiseFailureToast('Некоректні дані для авторизації');
        }
    }
</script>

<svelte:head>
    <title>Вхід / Система обліку абітурієнтів</title>
</svelte:head>


<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .auth-section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-window-wrapper {
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
        padding: 20px;
    }

    .auth-window__header {
        margin-top: 0px;
    }
</style>

<Header/>
<main>
    <div class="section auth-section">
        <div class="container">
            <div class="auth-window-wrapper z-depth-1">
                <!-- Login form -->
                <form class="row" on:submit|preventDefault={login}>
                    <div class="col s12 center">
                        <h2 class="auth-window__header">Вхід</h2>
                    </div>
                    {#if message}
                        <!-- Failure message -->
                        <div class="col s12 red darken-2">
                            <h6 class="center white-text">{message}</h6>
                        </div>
                    {/if}
                    <div class="col s12 input-field">
                        <input type="email" class="validate" id="emailInput" bind:value={email}>
                        <label for="emailInput">Адреса ел. пошти</label>
                    </div>
                    <div class="col s12 input-field">
                        <input type="password" class="validate" id="passwordInput" bind:value={password}>
                        <label for="passwordInput">Пароль</label>
                    </div>
                    <button class="col s12 btn waves-effect waves-light green darken-2 white-text center" type="submit">
                        Увійти
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
<Footer/>