<script>
    import { onMount } from 'svelte';

    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';

    import { routes } from '../Routes.svelte';

    import { user } from '../../stores.js';
    import { sendRequest, raiseSuccessToast,
        raiseFailureToast } from '../../utils.js';


    const abiturientStatus = {
        CREDITED: 1,
        PROCESSING: 2,
        NOT_CREDITED: 3,
        UNTRACKED: 4
    };

    $: abiturientSearchInputState = '';
    $: abiturientOrderingState = null;

    // Redirects user to login page if he has no permission to access this page
    if (user.isEmpty() || !($user.permissions.includes('can_read_abiturient')
        || $user.permissions.includes('can_write_abiturient'))) {
        window.location.replace(routes.login.path +
            '?message=Авторизуйтесь для перегляду цієї сторінки' +
            `&next=${routes.abiturients.path}`);
    }

    let abiturients = [];

    async function getAbiturientList() {
        const response = await sendRequest('/abiturients/');

        if (response.ok)
            return await response.json();
    }

    async function createAbiturient() {
        const response = await sendRequest('/abiturients/', {
            method: 'POST',
            body: JSON.stringify({
                'first_name': document.getElementById('firstNameInput').value,
                'second_name': document.getElementById('secondNameInput').value,
                'last_name': document.getElementById('lastNameInput').value,
                'email': document.getElementById('emailInput').value,
                'phone': document.getElementById('phoneInput').value
            })
        });

        const responseData = await response.json();

        if (response.ok) {
            raiseSuccessToast('Інформація занесена у базу даних');
            window.location.replace(routes.abiturient.path.replace(':id', responseData.id));
        } else {
            if (responseData['first_name']) {
                raiseFailureToast('Некоректне ім\'я');
            }
            if (responseData['last_name']) {
                raiseFailureToast('Некоректне прізвище');
            }
            if (!responseData['first_name'] && !responseData['last_name']) {
                raiseFailureToast('Некоректні дані');
            }
        }
    }

    async function searchAbiturients() {
        const response = await sendRequest(
            `/abiturients/?search=${abiturientSearchInputState}`
        );

        if (response.ok) {
            abiturients = await response.json();
        } else {
            raiseFailureToast('Некоректні дані для пошуку');
        }
    }

    async function orderAbiturients() {
        const response = await sendRequest(
            `/abiturients/?ordering=${abiturientOrderingState}`
        );

        if (response.ok) {
            abiturients = await response.json();
        } else {
            raiseFailureToast('Некоректні дані для сортування');
        }
    }

    // on component mount function
    onMount(async () => {
        abiturients = await getAbiturientList();

        // Resets the select data after geting abiturients list
        const abiturientOrderingSelect = document.getElementById('abiturientOrderingSelect');
        abiturientOrderingSelect.addEventListener('change', async (event) => {
            await orderAbiturients();
        });
    });

    // on document ready function
    document.addEventListener('DOMContentLoaded', function() {
        // Activates Materialize CSS selects
        var selects = document.querySelectorAll('select');
        var selectInstances = M.FormSelect.init(selects);
    });
</script>


<style>
    :global(.row.inline) {
        margin-bottom: 20px;
    }

    :global(.datepicker-date-display) {
        background: #303f9f !important;
    }

    :global(td.is-selected) {
        background-color: #303f9f !important;
    }

    :global(td.is-today, .datepicker-cancel, .datepicker-done) {
        color: #303f9f !important;
    }

    .detail-link:hover {
        text-decoration: underline;
    }
</style>

<Header/>
<main>
    {#if $user.permissions.includes('can_write_abiturient')}
    <!-- Abituirent Creation Section -->
    <div class="section">
        <div class="container">
            <h2 class="title">Додати абітурієнта</h2>
            <div class="divider"></div>
            <p class="description">
                Заповніть дані у "картці абітурієнта" для створення нового облікового запису. Детально перевірте введену інформацію перед натисненням кнопки "Створити". Для очищення усіх полів форми натисніть кнопку "Оновити". Будьте обачні, після вдалого створення облікового запису абітурієнта Вас буде перенаправлено на сторінку детального перегляду інформації про нього.
            </p>
            <div class="row"></div>

            <!-- Create abituirent form -->
            <form on:submit|preventDefault={createAbiturient}>
                <div class="row">
                    <div class="col s12 l6">
                        <div class="row inline">
                            <div class="col s12 input-field">
                                <input type="text" class="validate" id="firstNameInput">
                                <label for="firstNameInput">Ім'я</label>
                            </div>
                            <div class="col s12 input-field">
                                <input type="text" class="validate" id="secondNameInput">
                                <label for="secondNameInput">По-батькові</label>
                            </div>
                            <div class="col s12 input-field">
                                <input type="text" class="validate" id="lastNameInput">
                                <label for="lastNameInput">Прізвище</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l6">
                         <div class="row inline">
                            <div class="col s12 input-field">
                                <input type="text" class="validate" id="emailInput">
                                <label for="emailInput">Адреса ел. пошти</label>
                            </div>
                            <div class="col s12 input-field">
                                <input type="text" class="validate" id="phoneInput">
                                <label for="phoneInput">Номер телефону</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="center">
                            <button class="btn waves-effect waves-light green darken-2 white-text">
                                Створити
                                <i class="material-icons right">done</i>
                            </button>
                            <button type="button" class="btn waves-effect waves-light orange darken-2 white-text">
                                Оновити
                                <i class="material-icons right">refresh</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {/if}

    {#if $user.permissions.includes('can_read_abiturient')}
        <!-- Abiturient List Section -->
        <div class="section">
            <div class="container">
                <h2 class="title">Список абітурієнтів</h2>
                <div class="divider"></div>
                <p class="description">
                    Нижче приводиться таблиця зі списком абітурієнтів і їх поточним статусом у системі. Для пошуку абітурієнтів за ім'ям використовуйте поле для вводу нижче. Після введення необхідного імені натисніть клавішу <strong>ENTER</strong>. <strong class="grey-text text-darken-3">Якщо випадаючий список з варіантами сортування не з'явився - оновіть сторінку.</strong>
                </p>
                <div class="row"></div>

                <div class="row">
                    <form on:submit|preventDefault={searchAbiturients} class="col s12 l4">
                        <div class="input-field">
                            <input type="text" class="validate" id="abiturientSearch"
                                bind:value={abiturientSearchInputState}>
                            <label for="abiturientSearch">Пошук</label>
                        </div>
                    </form>
                    <form on:submit|preventDefault={orderAbiturients} class="col s12 l4 offset-l4">
                        <div class="input-field">
                            <select id="abiturientOrderingSelect" bind:value={abiturientOrderingState}>
                                <option value="" disabled selected>Оберіть порядок відтворення</option>
                                <option value="first_name,last_name">Сортувати за ім'ям</option>
                                <option value="status">Сортувати за статусом</option>
                            </select>
                        </div>
                    </form>
                </div>

                <!-- Abituirent Table -->
                <table class="centered highlight">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ім'я</th>
                            <th>Статус</th>
                            <th>Детальна інформація</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#each abiturients as abiturient (abiturient.id)}
                            <tr>
                                <td><strong>{abiturient.id}</strong></td>
                                <td>{abiturient.full_name}</td>
                                <td>
                                    {#if abiturient.status === abiturientStatus.CREDITED}
                                        <strong class="green-text text-darken-2">Зарахований</strong>
                                    {:else if abiturient.status === abiturientStatus.PROCESSING}
                                        <strong class="orange-text text-darken-2">Обробляється</strong>
                                    {:else if abiturient.status === abiturientStatus.NOT_CREDITED}
                                        <strong class="red-text text-darken-2">Не зарахований</strong>
                                    {:else}
                                        <strong class="blue-text text-darken-2">Без заявок</strong>
                                    {/if}
                                </td>
                                <td>
                                    <a href="{routes.abiturient.path.replace(':id', abiturient.id)}" class="blue-text detail-link">
                                        Переглянути
                                    </a>
                                </td>
                            </tr>
                        {/each}
                    </tbody>
                </table>
            </div>
        </div>
    {/if}
</main>
<Footer/>