<script>
    import { onMount } from 'svelte';

    import { sendRequest, raiseSuccessToast } from '../../../utils.js';

    export let data;
    export let abiturientId;

    $: scanNameInputState = null;

    // Returns Materialize CSS Modal Window instance
    function getModalWindowInstance() {
        const modalWindowElement = document.getElementById(
            'changeDocumentScanForm' + data.id);
        return M.Modal.getInstance(modalWindowElement);
    }

    // Button onclick event handler. Shows Materialize CSS modal window
    function openModalWindow() {
        const modalWindowElement = document.getElementById(
            'changeDocumentScanForm' + data.id);
         const modalWindowInstance =  M.Modal.init(modalWindowElement);

        scanNameInputState = data.name;
        modalWindowInstance.open();
    }

    // Updates DocumentScan data using API
    async function update(image) {
        const requestBody = {
            'id': data.id,
            'abiturient': abiturientId,
            'name': scanNameInputState,
        };

        if (image)
            requestBody['image'] = image;

        const response = await sendRequest(
            `/document-scans/${data.id}/`,
            {
                method: 'PATCH',
                body: JSON.stringify(requestBody)
            }
        );

        if (response.ok) {
            data = await response.json();

            raiseSuccessToast('Ви успішно змінили скан документу');
            const modalWindowElement = document.getElementById(
                'changeDocumentScanForm' + data.id);
            const documentScanModalWindow = M.Modal.getInstance(modalWindowElement);
            documentScanModalWindow.close();
        } else {
            console.log(await response.json());
        }
    }

    // Form submit event handler
    // Gets the uploaded image if it was given and passes
    // it to update() function
    async function changeDocumentScan() {
        const files = document.getElementById('changingScanImageUpload' + data.id).files;
        let image = null;

        if (files) {
            image = files[0];
        }

        const reader = new FileReader();
        reader.onload = async () => {
            await update(reader.result);
        };


        if (image) {
            reader.readAsDataURL(image);
        } else {
            await update();
        }
    }

    // on component mount handler
    onMount(async () => {
        scanNameInputState = data.name;
    });
</script>

<div class="row">
    <div class="col s12 l4">
        <img src="{data.image}" alt="Document Scan" class="responsive-img">
    </div>
    <div class="col s12 l8">
        <h4>{data.name}</h4>
        <div class="divider"></div>
        <div class="input-field">
            <input type="text" readonly bind:value={data.image}>
        </div>
        <button type="button" class="btn green darken-2 white-text
            waves-effect waves-light">
            Скопіювати посилання
        </button>
        <button type="button" class="btn red darken-2 white-text
            waves-effect waves-light"
            on:click={openModalWindow}>
            Редагувати
        </button>
    </div>
</div>

<!-- Document scan changing modal window -->
<form id={"changeDocumentScanForm" + data.id}
    on:submit|preventDefault={changeDocumentScan}
    class="modal">
    <div class="modal-content">
        <h3>{data.name}: редагування</h3>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 input-field">
                <input type="text" class="validate" bind:value={scanNameInputState}
                    id={"changingScanNameInput" + data.id}>
                <label for="changingScanNameInput" class:active={scanNameInputState}>
                    Назва документу
                </label>
            </div>
            <div class="col s12 file-field input-field">
                <div class="btn">
                    <span>Зображення</span>
                    <input type="file" id={"changingScanImageUpload" + data.id}>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-flat waves-effect waves-light
            white green-text text-darken-2">
            Зберегти
        </button>
        <button type="button" class="btn btn-flat waves-effect waves-light
            white modal-close red-text text-darken-2">
            Закрити
        </button>
    </div>
</form>