<script>
    import { onMount } from 'svelte';

    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';

    import { routes } from '../Routes.svelte';

    import { user } from '../../stores.js';
    import {
        sendRequest,
        raiseFailureToast
    } from '../../utils.js';

    // if (user.isEmpty() || !$user.permissions.includes('can_read_report')) {
    //     window.location.replace(routes.login.path +
    //         '?message=Авторизуйтесь для перегляду цієї сторінки' +
    //         `&next=${routes.reports.path}`);
    // }

    const newApplicationPeriod = {
        HOUR: 1,
        DAY: 2,
        WEEK: 3,
        MONTH: 4,
        YEAR: 5,
        ETERNITY: 6
    };


    $: newApplicationCount = null;
    $: newApplicationPeriorState = 1;
    $: popularSpecialities = [];

    async function getNewApplicationCount() {
        const response = await sendRequest(`/reports/applications/new/?period=${newApplicationPeriorState}`);

        if (response.ok) {
            const responseData = await response.json();
            return responseData['new_application_count'];
        } else {
            raiseFailureToast('Не вдалося завантажити дані про кількість нових заявок');
        }
    }

    async function getPopularSpecialities() {
        const response = await sendRequest('/reports/specialities/popular/');

        if (response.ok) {
            return await response.json();
        } else {
            raiseFailureToast('Не вдалося завантажити дані про спеціальності');
        }
    }

    onMount(async() => {
        newApplicationCount = await getNewApplicationCount();
        popularSpecialities = await getPopularSpecialities();

        const elems = document.querySelectorAll('select');
        const instances = M.FormSelect.init(elems);

        const selectElement = document.getElementById('newApplicationPeriodSelect');
        selectElement.addEventListener('change', async (event) => {
            newApplicationCount = await getNewApplicationCount();
        });
    });
</script>


<style>
    .no-margin-bottom {
        margin-bottom: 0;
    }
</style>


<Header></Header>
<main>
    <!-- Description Section -->
    <div class="container">
        <div class="section">
            <h2>Звіти</h2>
            <div class="divider"></div>
            <p>
                На цій сторінці наведені звіті з успішності приймальної кампанії цього, {new Date().getFullYear()} року. За допомогою розтащованих елементів керування (випадаючих списків) Ви можете керувати періодом для збору інформації для формування звіту.
            </p>
        </div>

        <!-- New Applictions Section -->
        <div class="section">
            <form>
                <div class="row no-margin-bottom" >
                    <div class="col s8 offset-s2 l4 offset-l4 center">
                        {#if newApplicationCount !== null}
                            <h1 style="margin-bottom: 0px">{newApplicationCount}</h1>
                            <p>Нових заявок</p>
                            <div class="row no-margin-bottom">
                                <div class="col s12 input-field">
                                    <select id="newApplicationPeriodSelect" bind:value={newApplicationPeriorState}>
                                        <option value="{newApplicationPeriod.HOUR}" selected>Цієї години</option>
                                        <option value="{newApplicationPeriod.DAY}">Цього дня</option>
                                        <option value="{newApplicationPeriod.WEEK}">Цього тижня</option>
                                        <option value="{newApplicationPeriod.MONTH}">Цього місяця</option>
                                        <option value="{newApplicationPeriod.YEAR}">Цього року</option>
                                        <option value="{newApplicationPeriod.ETERNITY}">За весь час</option>
                                    </select>
                                </div>
                            </div>
                        {:else}
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
            </form>
        </div>

        <!-- Most popular specialities section -->
        <div class="section">
            <h3>Найпопулярніші спеціальності</h3>
            <div class="divider"></div>
            <p>Перелік п'яти (за замовчуванням) найпопулярніших спеціальностей, тобто таких, які за період цієї вступної кампанії мають найбільшу кількість нових або вже підтвердженних заявок.</p>
            <table class="centered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Спеціальність</th>
                        <th>Кількість заявок</th>
                        <th>Детальніше</th>
                    </tr>
                </thead>
                <tbody>
                    {#each popularSpecialities as speciality, index (speciality.id)}
                        <tr>
                            <td>{index + 1}</td>
                            <td>[{speciality.code}] {speciality.name}</td>
                            <td>{speciality.application_count}</td>
                            <td><a href="{routes.speciality.path.replace(':id', speciality.id)}" class="blue-text text-darken-2 link">Переглянути</a></td>
                        </tr>
                    {:else}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                        </tr>
                    {/each}
                </tbody>
            </table>
        </div>

        <!-- Just to add margin bottom after last section -->
        <div class="row"></div>
    </div>
</main>
<Footer></Footer>