<script context="module">
    import { routes } from '../routes/Routes.svelte';
</script>

<style>
    .footer-link:hover {
        text-decoration: underline;
    }
</style>

<footer class="page-footer indigo darken-3">
    <div class="container">
        <div class="row">
            <!-- Left aligned website description -->
            <div class="col s12 l6">
                <h5 class="white-text">Система обліку абітурієнтів</h5>
                <p class="grey-text text-lighten-4">
                    "Система обліку абітурієнтів" (скорочено "СОА") полегшує роботу приймальних комісій і деканатів Вищих навчальних закладів України у період вступної кампанії. Завдаки використанню "СОА" відповідальні за прийом абітурієнтів особи можуть зосередитись на якості обробки інформації, а не на самому процесі.
                </p>
            </div>
            <!-- Right aligned website links -->
            <div class="col s12 l6">
                <h5 class="white-text">Посилання</h5>
                <ul>
                    <li>
                        <a href="{routes.home.path}" class="grey-text text-lighten-3 footer-link">
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="{routes.abiturients.path}" class="grey-text text-lighten-3 footer-link">
                            Абітурієнти
                        </a>
                    </li>
                    <li>
                        <a href="{routes.specialities.path}" class="grey-text text-lighten-3 footer-link">
                            Спеціальності
                        </a>
                    </li>
                    <li>
                        <a href="{routes.reports.path}" class="grey-text text-lighten-3 footer-link">
                            Звіти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright indigo darken-4">
        <div class="container">
            <div class="center">
                2020 © Віталій Дьячков
            </div>
        </div>
    </div>
</footer>