<script context="module">
    import { link } from 'svelte-routing';
    import { routes } from '../routes/Routes.svelte';

    import { user } from '../stores.js';

    document.addEventListener('DOMContentLoaded', function() {
        // Activates Materialize CSS side navbar component (mobile menu)
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

<style>
    .logo-icon {
        font-size: 3.7rem;
    }
</style>

<header>
    <!-- Navbar -->
    <nav class="indigo darken-2">
        <div class="nav-wrapper container">
            <!-- Website logo -->
            <a href="{routes.home.path}" class="brand-logo" use:link>
                <i class="material-icons logo-icon">school</i>
            </a>

            <!-- Mobile menu icon -->
            <a href="#!" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <!-- Large screen links -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{routes.home.path}" use:link>Головна</a></li>
                <li><a href="{routes.abiturients.path}" use:link>Абітурієнти</a></li>
                <li><a href="{routes.specialities.path}" use:link>Спеціальності</a></li>
                <li><a href="{routes.reports.path}" use:link>Звіти</a></li>
                {#if !user.isEmpty()}
                    <li><a href="{routes.logout.path}" use:link>Вийти</a></li>
                {:else}
                    <li><a href="{routes.login.path}" use:link>Увійти</a></li>
                {/if}
            </ul>
        </div>
    </nav>

    <!-- Mobile links -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{routes.home.path}" use:link>Головна</a></li>
        <li><a href="{routes.abiturients.path}" use:link>Абітурієнти</a></li>
        <li><a href="{routes.specialities.path}" use:link>Спеціальності</a></li>
        <li><a href="{routes.reports.path}" use:link>Звіти</a></li>
        {#if !user.isEmpty()}
            <li><a href="{routes.logout.path}" use:link>Вийти</a></li>
        {:else}
            <li><a href="{routes.login.path}" use:link>Увійти</a></li>
        {/if}
    </ul>
</header>
