<script>
    import { onMount } from 'svelte';

    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';

    import { routes } from '../Routes.svelte';

    import { sendRequest, raiseFailureToast } from '../../utils.js';

    export let id;

    const applicationStatus = {
        NEW: 1,
        APPROVED: 2,
        CANCELED: 3,
    };

    $: specialityData = [];
    $: applicationsData = [];

    async function getSpecialityData() {
        const response = await sendRequest(`/specialities/${id}/`);

        if (response.ok) {
            return await response.json();
        } else {
            raiseFailureToast('Не вдалося отримати дані про спеціальність');
        }
    }

    async function getApplicationsData() {
        const response = await sendRequest(`/specialities/${id}/applications/`);

        if (response.ok) {
            return await response.json();
        } else {
            raiseFailureToast('Не вдалося отримати дані заявок на вступ');
        }
    }

    onMount(async() => {
        specialityData = await getSpecialityData();
        applicationsData = await getApplicationsData();

        // if there was only 1 application - API returns it as object
        // So for backward code compability we creates Array with 1 element
        if (!Array.isArray(applicationsData)) {
            applicationsData = [applicationsData];
        }
    });

</script>

<style>
    :global(.link:hover) {
        text-decoration: underline;
    }
</style>


<Header/>
<main>
    <div class="container">
        <div class="section">
            <h3>{specialityData.name}: заявки</h3>
            <div class="divider"></div>
            <p>Список заявок абітурієнтів для спеціальності "{specialityData.name} (specialityData.code)". Для перегляду детальної інформації про абітурієнта, що подав заявку - натисніть на гіперпосилання в ньому.</p>
        </div>

        {#if applicationsData}
        <div class="section">
            <table class="responsive-table centered">
                <thead>
                    <tr>
                        <th>Абітурієнт</th>
                        <th>Приорітет</th>
                        <th>Бали</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {#each applicationsData as application (application.id)}
                        <tr>
                            <td>
                                <a href="{routes.abiturient.path.replace(':id', application.abiturient.id)}"
                                    class="blue-text text-darken-2 link">
                                    {application.abiturient.full_name}
                                </a>
                            </td>
                            <td>{application.priority}</td>
                            <td>{application.points}</td>
                            {#if application.status === applicationStatus.NEW}
                                <td class="orange-text text-darken-2">Нова</td>
                            {:else if application.status === applicationStatus.APPROVED}
                                <td class="green-text text-darken-2">Зарахована</td>
                            {:else}
                                <td class="red-text text-darken-2">Відхилена</td>
                            {/if}
                        </tr>
                    {/each}
                </tbody>
            </table>
        </div>
        {/if}
    </div>
</main>
<Footer/>