<script>
    import { onMount } from 'svelte';

    import Header from '../../components/Header.svelte';
    import Footer from '../../components/Footer.svelte';

    import { routes } from '../Routes.svelte';

    import { user } from '../../stores.js';
    import {
        sendRequest,
        raiseFailureToast,
        raiseSuccessToast
    } from '../../utils.js';

    $: specialities = [];

    onMount(async () => {
        const response = await sendRequest('/specialities/');

        if (response.ok) {
            specialities = await response.json();
        } else {
            raiseFailureToast('Не вдалося завантажити дані');
        }
    });
</script>

<svelte:head>
    <title>Спеціальності / Система обліку абітурієнтів</title>
</svelte:head>

<Header/>
<main>
    <div class="container">
        <div class="section">
            <h2>Спеціальності</h2>
            <div class="divider"></div>
            <p>
                Список спеціальностей та заявок, що були подані абітурієнтами на вступ до цих спеціальностей. В останній колонці таблиці знису наведені посилання, при натисненні на які ви будете перенаправлені на сторінки детального перегляду інформації про спеціальності, де знаходиться список усіх заявок на неї.
            </p>
        </div>
        <div class="section">
            <!-- Specialities List -->
            <table>
                <thead>
                    <tr>
                        <th class="center">ID</th>
                        <th class="center">Спеціальність</th>
                        <th class="center">Кількість заявок</th>
                        <th class="center">Детально</th>
                    </tr>
                </thead>
                <tbody>
                    {#each specialities as speciality (speciality.id)}
                        <tr>
                            <td class="center"><strong>{speciality.id}</strong></td>
                            <td class="center">[{speciality.code}] {speciality.name}</td>
                            <td class="center">{speciality.application_count}</td>
                            <td class="center"><a href="{routes.speciality.path.replace(':id', speciality.id)}" class="blue-text">Переглянути</a></td>
                        </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    </div>
</main>
<Footer/>