<script>
	import '../node_modules/materialize-css/dist/css/materialize.min.css';
	import '../node_modules/materialize-css/dist/js/materialize.min.js';

	import { Router, Route, Link } from 'svelte-routing';
	import { routes } from './routes/Routes.svelte';
</script>

<style>
	:global(*) {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:global(body) {
		padding: 0;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	:global(main) {
		flex: 1 0 auto;
	}

	:global(.divider) {
		margin-bottom: 20px;
	}
</style>


<Router>
	{#each Object.keys(routes) as routeName}
		<Route path={routes[routeName].path} component={routes[routeName].component}/>
	{/each}
</Router>